/*styles for branding popup*/

#ctx_modal.ctx_well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
}
#ctx_modal.ctx_well #ctx_popupperbg {
    display: block;
    float: left;
    width: 100%;
    height: 3px;
    margin-top: 11px;
    background-size: 3px;
    background-position: top;
    background: #def4f9; /* Old browsers */
    background: -moz-linear-gradient(left, #def4f9 0%, #f4fbfd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #def4f9), color-stop(100%, #f4fbfd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #def4f9 0%, #f4fbfd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #def4f9 0%, #f4fbfd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #def4f9 0%, #f4fbfd 100%); /* IE10+ */
    background: linear-gradient(to right, #def4f9 0%, #f4fbfd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#def4f9', endColorstr='#f4fbfd', GradientType=1 ); /* IE6-9 */
}
#ctx_modal.ctx_well #ctx_poptext a {
    color: #0897d3
}
#ctx_modal.ctx_well #ctx_poptext a:hover {
    color: #94d2ec;
    text-decoration: none
}
#ctx_modal.ctx_well p {
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

/*branding popup for desktop*/

@media all and (min-width: 605px) {
    .light_square .pp_content {
        height: 278px !important;
        background-color: #ffffff;
        border: 7px solid #def4f9;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
        box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
        padding: 0 !important;
        position: relative;
        left: 12px;
    }
    .light_square a.pp_close {
        display: block;
        float: right;
        height: 31px;
        width: 31px;
        background: url(images/brandpopupimgs.png) no-repeat 0px -59px;
        cursor: pointer;
        top: -3px;
    }
    .light_square a.pp_close:active {
        background-position: 0px -91px
    }
    #ctx_modal.ctx_well p {
        text-shadow: 1px 1px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=1, offy=1);
    }
    #ctx_modal.ctx_well .ctx_modal_close {
        display: block;
        float: right;
        height: 31px;
        width: 31px;
        background-image: url(images/brandpopupimgs.png);
        background-repeat: no-repeat;
        background-position: 0px -59px;
        cursor: pointer
    }
    #ctx_modal.ctx_well #ctx_poplogo {
        display: block;
        width: 267px;
        height: 58px;
        float: left;
        background: url(images/brandpopupimgs.png) no-repeat;
        margin-top: 17px
    }
    #ctx_modal.ctx_well #ctx_popupcontainer {
        float: left;
        width: 257px;
        margin-left: 27px;
        font-size: 13px;
        line-height: 15px
    }
    #ctx_modal.ctx_well #ctx_poptext {
        float: left;
        margin-top: 12px;
        line-height: 17px;
    }
    #ctx_modal.ctx_well #ctx_popsymbol {
        display: block;
        float: right;
        height: 229px;
        width: 228px;
        background: url(images/brandpopupimgs.png) no-repeat -38px -59px;
        margin-top: 34px;
        margin-right: 13px
    }
}

/*desktop branding popup end */

/*branding popup for mobile devices*/

@media all and (max-width: 604px) {
    .light_square .pp_content {
        height: 420px;
        background-color: #ffffff;
        border: 4px solid #def4f9;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
        box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
        padding: 0 !important;
        position: relative;
        left: 12px;
    }
    .light_square a.pp_close {
        display: block;
        float: right;
        height: 23px;
        width: 23px;
        background: url(images/brandpopupimgs-mobile.png) no-repeat 0px -42px;
    }
    .light_square a.pp_close:active {
        background-position: 0px -65px
    }
    #ctx_modal.ctx_well #ctx_poplogo {
        display: block;
        width: 192px;
        height: 42px;
        float: left;
        background: url(images/brandpopupimgs-mobile.png) no-repeat;
        margin-top: 6px
    }
    #ctx_modal.ctx_well #ctx_popupcontainer {
        float: left;
        width: 210px;
        margin-left: 15px;
        font-size: 13px;
        line-height: 13px;
		margin-top: 5px
    }
    #ctx_modal.ctx_well #ctx_poptext {
        float: left;
        margin-top: 12px;
        line-height: 17px;
    }
    #ctx_modal.ctx_well #ctx_popsymbol {
        display: block;
        float: left;
        height: 161px;
        width: 165px;
        background: url(images/brandpopupimgs-mobile.png) no-repeat -27px -42px;
        margin-top: 34px;
        margin-left: 43px
    }
}
.ctx_widget .ctx_pluginauthor span {
    display: block;
    background: url(images/brandedlogo.png) no-repeat right -12px !important;
    height: 12px;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7e7e81 !important;
    width: 110px;
    line-height: 12px;
    text-decoration: none;
    cursor: pointer;
    padding: 0px !important;
    text-transform: none !important;
    float: right;
	font-weight: normal
}
.ctx_widget .ctx_pluginauthor span:hover {
    background: url(images/brandedlogo.png) no-repeat right 0px !important;
    color: #1babab !important;
}
.ctx_widget .ctx_tabs_widget .ctx_branding {
	margin-top: 10px
}
.ctx_branding #ctx_branding_open {
	display: block;
	float: right;
	height: 12px;
	width: auto !important;
	text-decoration: none !important;
	outline: none !important
}
.ctx_branding {
	height: 12px;
	padding-top: 2px !important;
	padding-bottom: 10px !important
}